<%= "#{@cards}" %><br>
<%= "役の名前は、#{@hand_name}" %>

<%= form_tag("/hand/check") do%>
  <input name="cards" type="text" placeholder="S1 H2 D3 C4 S5">
  <input type="submit" value="check">
<% end %>

<%= "#{@empty_error}" %>

<% unless @error_message.nil? %>
  <% @error_message.each do |error_message| %>
    <% unless error_message.join.empty? %>
      <%= error_message.join %><br>
    <% end %>
  <% end %>
<% end %>


<!--value=<%#= "#{@cards}" %>-->
